<div class="menu">
  <h3>Menu</h3>
  <mat-tree  [dataSource]="pagesSource" [treeControl]="treeControl"  class="menu-tree">
    <!-- leaf pages -->
    <mat-tree-node id="{{page.id}}" *matTreeNodeDef="let page" matTreeNodeToggle>
      <li class="mat-tree-node menu-tree-text">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <a *ngIf="page.fileName !== null" class="menu-tree-text" (click)="loadPage()" routerLink="{{language}}/{{page.id}}">
          {{page.name}}
        </a>
          <span *ngIf="page.fileName === null" class="menu-tree-text">
            {{page.name}}
          </span>
        <a  *ngIf="page.fileName === null" [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></a>
        <a *ngIf="page.fileName !== null" (click)="deletePage(page, $event)" >
          <mat-icon>remove</mat-icon>
        </a>
        <a *ngIf="(page.fileName === null) && !page.isRoot" (click)="deleteFolder(page, $event)" >
          <mat-icon>remove</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addPage(page.id)">{{addPageField}}</button>
          <button mat-menu-item (click)="addChildFolder(page.id)">{{addFolderField}}</button>
          <button *ngIf="!page.isRoot" mat-menu-item (click)="editFolderTags(page.id)">Edit Folder</button>
        </mat-menu>
      </li>
    </mat-tree-node>
    <!-- expandable pages/categories -->
    <mat-nested-tree-node id="{{page.id}}" *matTreeNodeDef="let page; when: hasSubpages" >
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle id="{{page.id}}"
                  [attr.aria-label]="'toggle ' + page.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(page) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span class="menu-tree-text">{{page.name}}</span>
          <div *ngIf="!page.page">
          <a  [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addPage(page.id)">{{addPageField}}</button>
            <button mat-menu-item (click)="addChildFolder(page.id)">{{addFolderField}}</button>
            <button *ngIf="!page.isRoot" mat-menu-item (click)="editFolderTags(page.id)">Edit Folder</button>
          </mat-menu>
            <a *ngIf="(page.fileName === null) && !page.isRoot" (click)="deleteFolder(page, $event)" >
              <mat-icon>remove</mat-icon>
            </a>
          </div>
          </div>
        <ul [class.menu-tree-invisible]="!treeControl.isExpanded(page)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
  <div class="addRootFolder">
    <span>{{addNewRootFolder}}</span>
    <a class="addIcon" (click)="addRootFolder()">
      <mat-icon>add</mat-icon>
    </a>
    </div>
</div>

