.menu-tree-invisible {
  display: none;
}

.menu-tree ul,
.menu-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

button {
  overflow: hidden;
}



.menu-tree-text {
  width: 90%;
  overflow: hidden;
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}
a:hover {
  cursor: pointer;
}



.menu {
  margin: 10px;
  position: relative;
  /*width: 90%;*/
  /*overflow: hidden;*/
}
