<div class="menu">
  <h3>Menu</h3>
  <mat-tree  [dataSource]="pagesSource" [treeControl]="treeControl"  class="menu-tree">
    <!-- leaf pages -->
    <mat-tree-node id="{{page.id}}" *matTreeNodeDef="let page" matTreeNodeToggle>
      <li class="mat-tree-node menu-tree-text">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <a class="menu-tree-text" (click)="loadPage()" routerLink="/{{this.language}}/{{page.id}}">
          {{page.name}}
        </a>
      </li>
    </mat-tree-node>
    <!-- expandable pages/categories -->
    <mat-nested-tree-node id="{{page.id}}" *matTreeNodeDef="let page; when: hasSubpages" >
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle id="{{page.id}}"
                  [attr.aria-label]="'toggle ' + page.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(page) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span class="menu-tree-text">{{page.name}}</span>
        </div>
        <ul [class.menu-tree-invisible]="!treeControl.isExpanded(page)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</div>

