<div id="fullAddPageDialog">
<div id="addPageDialog" mat-dialog-content>
  <p>{{addPageField}}</p>
  <mat-form-field id="addPageInputField" appearance="fill">
    <mat-label>{{nameOfPageField}}</mat-label>
    <input matInput [(ngModel)]="data.pageName">
  </mat-form-field>
</div>
<div id="addPageButtons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()" mat-raised-button color="accent">{{returnField}}</button>
  <button mat-button [mat-dialog-close]="data" mat-raised-button color="accent">{{confirmField}}</button>
</div>
</div>
