mat-toolbar {
  /* important is needed because angular randomly changes the height anyway */
  height: 6em !important;
}

img {
  height: 100%;
}

button {
  overflow: hidden;
}

.flex-stretch {
  flex: 1 0 auto;
}

.lang_img {
  margin: 0 5px;

}

.lang_img:hover {
  cursor: pointer;
}

.lang {
  margin: 0 2em;
}

.home p {
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}

.home {
  border-radius: 10%;
  text-decoration: none;
}

.logout {
  margin: 0 2em;
}


.logout a:hover {
  color: #580000;
}


.icons {
  margin-right: 1.1em;
}

.usernameInfo {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
