<mat-toolbar>
  <button mat-icon-button (click)="menuOpened.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <img *ngIf="!darkModeEnabled" src="assets/logo.svg" alt="Politechnika Łódzka">
  <img *ngIf="darkModeEnabled" src="assets/logo_dark.svg" alt="Politechnika Łódzka">
  <span class="flex-stretch"></span>
<!--  <button mat-icon-button (click)="switchFontSize(20)">-->
<!--    <mat-icon>format_size</mat-icon>-->
<!--  </button>-->
  <span class="icons">
    <a class="home logout" mat-button routerLink="" (click)="logOut.emit()">
        <mat-icon>exit_to_app</mat-icon>
        <p>LOG OUT</p>
      </a>
    <a class="home" mat-button routerLink="/{{language}}/home">
      <mat-icon>home</mat-icon>
      <p>Home</p>
    </a>
    <span class="lang">
      <img *ngIf="this.language === 'english'" class="lang_img" src="assets/lang/en.png" alt="English flag" id="englishNoChange"
            >
      <img *ngIf="this.language !== 'english'" class="lang_img" src="assets/lang/en.png" alt="English flag" id="english"
           #en (click)="switchLanguage(en.id)"  routerLink="/english/home">
      <img *ngIf="this.language === 'french'" class="lang_img" src="assets/lang/fr.png" alt="French flag" id="frenchNoChange"
            >
      <img *ngIf="this.language !== 'french'" class="lang_img" src="assets/lang/fr.png" alt="French flag" id="french"
           #fr (click)="switchLanguage(fr.id)" routerLink="/french/home">
      <img *ngIf="this.language === 'polish'" class="lang_img" src="assets/lang/pl.png" alt="Polish flag" id="polishNoChange"
           >
      <img *ngIf="this.language !== 'polish'" class="lang_img" src="assets/lang/pl.png" alt="Polish flag" id="polish"
           #pl (click)="switchLanguage(pl.id)" routerLink="/polish/home">
    </span>
    <button mat-icon-button (click)="switchDarkMode()">
      <mat-icon *ngIf="!darkModeEnabled">brightness_3</mat-icon>
      <mat-icon *ngIf="darkModeEnabled">brightness_4</mat-icon>
    </button>
  </span>

</mat-toolbar>
