mat-toolbar {
  /* important is needed because angular randomly changes the height anyway */
  height: 6em !important;
}

img {
  height: 100%;
}

button {
  overflow: hidden;
}

.flex-stretch {
  flex: 1 0 auto;
}
