button {
  overflow: hidden;
}

/* turns of autofocus on mat-button*/
/*::ng-deep .mat-button-focus-overlay {*/
/*  display: none;*/
/*}*/

mat-drawer {
  width: 30vw;
}


@media (max-width: 768px) {
  mat-drawer {
    width: 100%;
  }
}

.menu-bar {
  display: flex;
}

app-search-bar {
  display: flex;
  flex: 1 1 auto;
}


