#tagsBox{
  border-radius: 20px;
  max-width: 100%;
  margin-bottom: 2vh;
  padding: 0.5vh 1vw;
  border: 1px solid #dadada;
  height: 5vh;
}

h1 {
  font-weight: bold;
  margin-bottom: 1vh;
  margin-top: 0;

}

.tagList{
  margin: 0 0.5vh;
}

.tagBadge {
  color: white;
  background-color: #c2402c;
  border-radius: 20px;
  padding: 2px 18px;
  max-height: 20px;
  font-size: 2vh;
}

p {
  font-size: 2vh;
  display: inline;
}
