.main {
  display: flex;
  margin-left: 20vw;
}

#pageContent {
  width: 60vw;
}

.box {
  width: 20vw;
  text-align: center;
  /*padding: 0 2.5vw;*/
}

#editBox{
  position: sticky;
  top: 5px;
  min-height: 25vh;
  max-height: 50vh;
  padding: 2.5vh 1.5vw;
  border-radius: 10px;
  width: 15vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.editName {
  display: block;
  font-size: 2.3vh;
  font-weight: bold;
  text-align: left;
  margin-bottom: 3vh;
}

p{
  margin: 0;
}

.pageName {
  height: 5vh;
  margin: 1vh 0;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  column-gap: 1vw;
  flex-flow: row-reverse;
}

.name {
  max-width: 12vw;
  overflow: hidden;
  white-space: nowrap; /* don't break the line */
}

.pageName p {
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

input:focus-visible {
  outline: none;
}


.editButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.editButtons li {


}

#tags{
  margin-top: 2vh;
}

#tags li{
  /*margin: 0.25vh 0;*/
  /*padding: 0.25vh 0;*/
  justify-content: left;
}




