#list{
  font-size: 3rem;
}
.mat-dialog-container{
  padding: 10px;
}
.mat-list-base .mat-list-item{
  width: 200px;
}
.mat-list-base{
  padding-top: 0;
}

#folderNameInput {
  height: 1.5em;
}

#noTagsHeader {
  margin: 10px 0 10px 0;
}

.invalidTagMsg {
  margin-top: 3px;
  font-size: 1em;
  color: red;
}

.invisible {
  visibility: hidden;
}

.editorIcon .mat-icon {
  color: #111111;
  position: absolute;
  top: -3px;
  transform: scale(0.75);
  cursor: pointer;
}


.editorIcon .mat-icon:hover {
  color: #8B0002;
}


a {
  position: relative;
  line-height: 0;
  margin-left: 5px;
}

.closeButton{
  float: right;
  top:-20px;
  right:-20px;
}

.confirmChanges{
  position: relative;
  left:200px;
  top: 10px;
  margin-top: 30px;
}

#removeTagIcon:hover {
  cursor: pointer;
}

.newTagDiv{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin: 5px 0;
}

#newTag {
  height: 2em;
}

.wrongInput{
  border: 2px solid red;
  border-radius: 5px;
}

.tagInput {
  border-radius: 5px;
  border: 2px solid;
}

.listOfTags{
  position: relative;
  top: 10px;
  gap: 5px;
  margin-bottom: 10px;
}
.tagItem{
  width:100px
}

.tagBadge {
  color: white;
  background-color: #c2402c;
  border-radius: 20px;
  padding: 4px 18px;
  font-size: 17px;
}

.editMode {
    display: flex;
    gap: 5px;
    height:30px;
    align-items: start;
}

.editMode p, input {
  height: 20px;
}

.noEditMode{
  display: flex;
  gap: 5px;
  height:30px;
  align-items: start;
}

.noEditMode p, input {
  height: 20px;
}


input:focus {
  outline: none;
}
