<button class="closeButton" mat-icon-button aria-label="close dialog" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<div *ngIf="editMode" class="editMode">
  <p>Foldername:</p> <input id="folderNameInput" value="{{data.folderName}}" placeholder="{{data.folderName}}" #changedName>
  <a class="editorIcon" (click)="changeEditMode(changedName.value)"><mat-icon>save</mat-icon></a>
</div>
<div *ngIf="!editMode" class="noEditMode">
  <p>Foldername: {{data.folderName}}</p>
  <a class="editorIcon" (click)="changeEditMode(data.folderName)"><mat-icon>edit</mat-icon></a>
</div>
<h3 id="noTagsHeader" *ngIf="!data.tags.length">No tags right now</h3>
<mat-list class="listOfTags" role="list">
  <div id="list" *ngFor="let tag of data.tags">
    <mat-list-item class="tagItem" role="listitem">{{tag}}  <a (click)="deleteTag(tag)" id="removeTagIcon"><mat-icon>remove</mat-icon></a></mat-list-item>
  </div>
</mat-list>
<div class="newTagDiv">
  <input  [ngClass]="isWrong ? 'wrongInput' : 'tagInput'" id="newTag" #newTag  type="text">
  <button mat-raised-button color="accent" (click)="addTag(newTag.value)">Add Tag</button>
</div>
<div class="errorMessage">
  <p [ngClass]="isWrong ? 'invalidTagMsg' : 'invisible'">Invalid Tag name</p>
</div>
<button  mat-raised-button color="accent" class="confirmChanges" (click)="returnFolder(true)">Confirm Changes</button>
