.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b0002;
}

.content {
  width: 50%;
  text-align: center;
}

p {
  color: white;
  margin: 20px 0;
}

.label {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
}


.loginForm {
  background-color: #580000;
  width: 270px;
  height: 200px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
}

input {
  font-size: 20px;
  margin: 5px auto 25px auto;
  display: block;
  color: black;
  border-radius: 5px;

}
input:focus-visible {
  outline: none;
  box-shadow: none;
}

.welcome {
  font-size: 3.2em;
}

.login {
  margin: 10px 0;
  font-size: 2em;
}

.warning {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: yellow;
}

.noWarning {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  visibility: hidden;
}


button {
  overflow: hidden;
  font-size: 2em;
  font-weight: 900;
  height: 2em;
  width: 3.6em;
  padding: 0.45em 0;
  background-color: white;
  margin: 1em 0 1em 0;
  text-decoration: none;
}

button:hover {
  color: white;
  background-color: #580000;

}

