<mat-drawer-container>
  <div *ngIf="loggedIn && !isInLogin() else notLoggedIn">
    <app-toolbar
      (menuOpened)="menu?.toggle()"
      (darkModeSwitched)="switchDarkMode()"
      (logOut)="setLogin($event, false)">
    </app-toolbar>
    <app-menu-wrapper (init)="menu = $event"></app-menu-wrapper>
    <div class="main_router">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <app-login (logIn)="setLogin($event, true)"></app-login>
  </ng-template>

</mat-drawer-container>
