// <app-text-editor></app-text-editor>
<mat-drawer-container>
  <mat-drawer #menu mode="over" position="end">
    <div class="menu-bar">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field appearance="fill">
        <input matInput>
      </mat-form-field>
      <button mat-icon-button (click)="menu.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <img src="https://p.lodz.pl/themes/custom/politechnika/logo.svg" alt="Politechnika Łódzka">
    <span class="flex-spacer"></span>
    <button mat-raised-button color="accent">
      Log in
    </button>
    <button mat-icon-button (click)="menu.open()">
      <mat-icon>menu</mat-icon>
      <br>
    </button>
  </mat-toolbar>

  <div class="main">
    <h1>EXAMPLE MATERIALUI WEBSITE</h1>
    <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet cumque dignissimos dolor dolorem eius
    eligendi enim, inventore iure natus possimus quaerat! A ab ad adipisci aperiam architecto at aut ducimus eius ex
    ipsam laboriosam laudantium magnam maiores minus mollitia nam nemo officia omnis porro quasi qui, quis quo ratione
    rem reprehenderit repudiandae rerum, sint ullam voluptates voluptatum. A accusantium aperiam consequatur, cumque
    cupiditate deserunt distinctio eaque, eos eum expedita impedit, incidunt itaque iusto modi placeat quibusdam
    quisquam reiciendis repudiandae saepe sapiente soluta sunt tempore voluptate? A ad asperiores delectus deserunt
    dignissimos doloremque eligendi facere harum illum impedit minima molestias nam placeat, unde voluptas. Mollitia nam
    necessitatibus veniam? Adipisci aperiam, assumenda autem consectetur corporis culpa deserunt eaque eius excepturi
    facilis impedit, in iure magnam molestiae molestias non perspiciatis quasi sint soluta tempora! Dicta dolorem,
    ipsum! Accusamus alias assumenda culpa et excepturi explicabo facilis impedit laborum laudantium magnam nemo
    nesciunt quae quaerat repellat rerum soluta, voluptate? Aliquid asperiores assumenda dolor dolorem ea eius eligendi
    eos, eum excepturi facilis iusto natus nulla omnis perferendis quae quibusdam quos reiciendis rem sequi similique
    sunt totam ullam voluptatum! Ad dolore eaque enim error, esse et, ipsam laborum molestias nemo nobis perspiciatis
    reiciendis, saepe. Accusamus adipisci alias aperiam beatae cum cupiditate deserunt dicta distinctio dolorum eligendi
    et eum eveniet ex fuga incidunt ipsam, libero minima minus molestias necessitatibus ratione repellat reprehenderit
    sint, sit suscipit unde, vero voluptatem! Culpa et facere in maxime nostrum quisquam tempore tenetur velit? Eum
    harum illo minus nulla recusandae. Adipisci, cupiditate dignissimos earum excepturi fugiat ipsum iste, iusto maiores
    nemo odit quas, veniam? Consequatur cum eligendi illo molestias quis ratione sint veniam voluptatem, voluptates.
    Adipisci dolore, dolorem dolores esse ex iste nesciunt optio porro praesentium quae. Ad asperiores, assumenda atque
    beatae consectetur dolorum, excepturi fugit id illum nobis quas quibusdam ratione repellendus tenetur ut, voluptates
    voluptatibus. Error molestiae totam voluptates! A ad aspernatur fuga illum. Consectetur cupiditate dolores doloribus
    earum eveniet minus molestias praesentium quasi qui veritatis! Aliquam dolor eligendi itaque maxime odit praesentium
    ratione, sapiente sed tempore? Aliquid architecto debitis dolore doloremque incidunt laboriosam laborum non omnis
    optio provident. Deserunt, in, tempore. Ad dignissimos doloremque error esse id iure, iusto libero mollitia odio
    quod rerum sapiente sunt ullam unde, voluptatem. Accusamus atque corporis cum deleniti, dicta ducimus ea enim, fuga
    fugiat id molestias perspiciatis placeat quam rerum sint veritatis vero voluptates! A adipisci architecto atque cum
    cumque dolor ea esse harum ipsam maiores mollitia numquam quisquam recusandae sapiente soluta suscipit, ut,
    voluptatibus! Aliquid animi dolorum enim facere hic maiores minima neque non reprehenderit veritatis? Ad aliquam
    amet debitis deleniti facilis, fugiat incidunt ipsum itaque laboriosam, laudantium optio placeat praesentium, quae
    quibusdam quod rerum sapiente similique sint suscipit veritatis. Ab assumenda autem beatae commodi consectetur,
    dolorum in magni odio odit quos soluta tenetur vel. Adipisci autem dolor laborum praesentium quod saepe! Alias
    aliquam beatae cumque in, inventore itaque modi odio quia reiciendis reprehenderit rerum sint sit vero voluptas
    voluptatibus? Ad aspernatur at, commodi dicta dolore earum incidunt inventore, labore modi molestias natus
    necessitatibus officia optio perferendis repudiandae tenetur vitae? Amet autem commodi dolorem ex explicabo, fugiat
    libero maiores, perspiciatis quis quos rem repellat unde velit voluptates voluptatibus. Beatae id iste iusto maxime
    minima natus perferendis repellendus vel, voluptatem! Accusamus aliquid aut dolorem eos explicabo necessitatibus
    omnis, sapiente tenetur. Dicta eaque incidunt libero tempore ullam. Accusantium aperiam dolor facilis harum, illo
    ipsa iure maxime nemo nulla quas qui quia quisquam ratione recusandae rerum sequi temporibus voluptatem voluptates!
    Labore laudantium minima minus perferendis provident reprehenderit. Accusamus aliquid consectetur eius ipsa iste
    libero necessitatibus nesciunt, perspiciatis quibusdam ratione reprehenderit voluptas. Ab alias asperiores
    aspernatur culpa deleniti dignissimos earum enim explicabo harum id incidunt labore, laudantium magnam minus
    mollitia nihil numquam odit omnis pariatur quas quo ratione recusandae rem repellendus sequi vel velit voluptas.
    Accusantium dolore eius eum excepturi similique! A architecto debitis doloremque enim, illo illum maiores modi nisi
    quibusdam quidem repellat saepe ut! Aliquam animi architecto atque dignissimos esse fuga, fugit impedit, inventore
    ipsum necessitatibus quae quam qui quibusdam quo sapiente tempore ullam veritatis vitae voluptatem voluptates? A
    aliquid animi dicta dolorum enim in perferendis tempora unde, voluptas voluptates. Maiores possimus quas quis unde!
    Animi consequuntur dolorem doloremque dolorum earum eius, facere, fugiat minus necessitatibus omnis placeat quis
    sunt tempore? Ab accusantium adipisci commodi cumque doloremque dolorum eius eum eveniet ex exercitationem fuga hic
    in ipsam laudantium molestiae molestias neque nulla officiis omnis pariatur porro quaerat, quas quidem reiciendis
    repellat repudiandae sint soluta tenetur voluptas voluptatum. Asperiores aspernatur at aut consequatur cum cumque
    debitis ducimus eveniet exercitationem facilis harum illo illum, incidunt ipsa itaque labore libero, magni natus
    necessitatibus nesciunt nihil numquam officia omnis perferendis perspiciatis praesentium provident quo sunt tempora
    unde ut velit voluptate voluptates! Alias aliquid architecto at corporis cupiditate dolores, iusto maiores modi
    neque perspiciatis quod repudiandae tempore veritatis voluptate voluptatibus. Fugit, sed, totam? Dolorem illo
    incidunt pariatur vel. A aut, consequuntur cum id ipsam libero nemo neque nesciunt rem similique. Amet assumenda
    fugit maiores, mollitia nesciunt nisi quas similique unde veritatis? Accusamus ad alias amet, blanditiis dolor
    dolorem eaque et eum eveniet excepturi exercitationem expedita magnam molestias neque nesciunt nihil non obcaecati
    optio possimus quaerat quidem recusandae repellat rerum soluta tempore voluptates voluptatibus! A accusamus amet
    assumenda autem cum cumque dignissimos dolor eius eum ex fuga in incidunt laborum, libero magni, minima mollitia
    neque perspiciatis possimus praesentium quaerat ratione rerum similique tempore ullam voluptatem voluptates
    voluptatibus! Esse, quod velit. Cumque esse ipsum laborum molestias quibusdam quod similique soluta? Ad aliquam
    architecto assumenda at consequuntur cum debitis deserunt dolorem doloremque doloribus, eos error eveniet ex
    explicabo fuga fugiat harum impedit incidunt ipsam iste laboriosam libero maiores molestias natus officia omnis
    optio quam quibusdam quis rem repellendus repudiandae tenetur ut velit, vero voluptas, voluptatibus. A ab accusamus
    autem cumque cupiditate delectus distinctio dolore ex, fugit harum ipsa iure laboriosam magnam maiores nesciunt nisi
    nostrum odio omnis quam quidem quis ratione reiciendis repellendus similique temporibus tenetur veniam. Adipisci
    architecto dicta earum ex facere illo impedit in incidunt quaerat quisquam, quo saepe sapiente sint.
      </span>
  </div>
</mat-drawer-container>
