mat-drawer-container {
  height: 100%;
  width: 100%;
}

mat-drawer {
  width: 35vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.menu-bar {
  display: flex;
}

.menu-bar input {
  flex: 1 1 auto
}

.main_router {
  font-size: 2rem;
  text-align: justify;
  margin-top: 5vh;
  width: 100%;
}

@media (max-width: 768px) {
  .main_router {
    margin: 0 3em;
  }
}

p {
  text-indent: 20px;
}

