mat-drawer {
  width: 35vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.menu-bar {
  display: flex;
}

.menu-bar input {
  flex: 1 1 auto
}

.main {
  font-size: 2rem;
  margin: 0 20vw;
  text-align: justify;
}

@media (max-width: 768px) {
  .main {
    margin: 0 3em;
  }
}

button {
  border-radius: 100em;
}

p {
  text-indent: 20px;
}
