.full-width {
  position: relative;
  width: 90%;
  margin: 2.5% 5% 0 0 ;
}
.input{
  width: 100%;
  font-size: 20px;
}
.latexInput {
  height:15vh;
}
.latexOutput {
  margin: 0 10px;
  height:15vh;
}
.submitButton {
  margin-bottom: 10px;
}
