#list{
  font-size: 3rem;
  padding: 5px;
}
.mat-dialog-container{
  padding: 10px;
}
.mat-list-base .mat-list-item{
  width: 200px;
}
.mat-list-base{
  padding-top: 0;
}
a{
  line-height: 0;
}

.closeButton{
  float: right;
  top:-20px;
  right:-20px;
}

.confirmChanges{
  float: right;
  bottom:0;
}

.newTagDiv{
  display: flex;
  gap: 20px;
  position: relative;
  margin-top: 20px
}

small {
  color: #8b0002;
}

.errorMessageDiv{
  margin-bottom: 20px;
}

.wrongInput{
  border: 2px solid #b80202;
  border-radius: 5px;
}

.tagNameInput{
  border: 2px solid;
  border-radius: 5px;
}

.listOfTags{
  position: relative;
  top: 10px;
  gap: 5px;
}
.tagItem{
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #b80202;
  margin-top: 5px;
  width:100px
}

.tagItem mat-icon:hover{
  cursor: pointer;
}

.errorMsg {
  color: #b80202;
  margin-top: 3px;
}

.noError {
  color: #b80202;
  margin-top: 3px;
  visibility: hidden;
}
