#list{
  font-size: 3rem;
  padding: 10px;
}
.mat-list-item{
  font-size: 3rem;
  margin-top: 5px;
  margin-right: 5px;
}
.mat-dialog-container{
  padding: 10px;
}

.mat-list-base{
  padding-top: 0;
}
span{
  justify-content: center;
}
a{
  line-height: 0;
}

.closeButton{
  float: right;
  top:-20px;
  right:-20px;
}

.confirmChanges{
  float: right;
  bottom:0;
}

.newTagDiv{
  display: flex;
  gap: 5px;
}

small {
  color: #8b0002;
}

.errorMessage{
  margin-bottom: 20px;
}

.wrongInput{
  border: 1px solid #8b0002;
}
