<div id="fullAddFolderDialog">
  <div id="addFolderDialog" mat-dialog-content>
    <p>{{addRoot}}</p>
    <mat-form-field id="addFolderInputField" appearance="fill">
      <mat-label>{{nameOfRoot}}</mat-label>
      <input matInput [(ngModel)]="data.folderName">
    </mat-form-field>
  </div>
  <div id="addFolderButtons" mat-dialog-actions>
    <button mat-button (click)="onNoClick()" mat-raised-button color="accent">{{returnField}}</button>
    <button mat-button [mat-dialog-close]="data.folderName" mat-raised-button color="accent">{{confirmField}}</button>
  </div>
</div>
