#fullAddFolderDialog{
  position: relative;
}

#addFolderDialog {
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#addFolderInputField{
  font-size: 15px;
  margin-bottom: 5px;
}

#addFolderButtons{
  position: absolute;
  /*Right jest równy paddingowi elementów dialogu(input i title)*/
  right: 24px;
  gap: 5px;
  padding: 0;
  margin: 0 5px 0 5px;
}

#addFolderPopupHeader {
  margin-bottom: 20px;
}

#fullAddFolderDialog {
  line-height: 20px;
  color: black;
}

