#fullAddFolderDialog{
  position: relative;
  min-height:190px;
  min-width: 350px;
}

#addFolderDialog {
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#addFolderInputField{
  font-size: 15px;
  margin-bottom: 5px;
}

#addFolderButtons{
  position: absolute;
  /*Right jest równy paddingowi elementów dialogu(input i title)*/
  right: 24px;
  bottom: 10px;
  gap: 5px;
}

.errorMessage{
  position: relative;
  color: #8b0002;
  left: 28px;
  top: -15px;
  width: 50%;
}

