<ng-container [ngSwitch]="lang">
  <div *ngSwitchCase="'english'">
    <h1>Welcome to Compendium of Knowledge</h1>
    <p>
      Compendium of Knowledge is a platform that allows users to create, view and edit pages with scientific tables and
      formulas.
    </p>
    <h1>Who is the platform for?</h1>
    <p>
      It's a platform created for everyone to use for free. It can be used by students and teachers of the Lodz
      University of Technology, as well as contestants competing at our university, and even people with no association
      with TUL, who just appreciate the content on the website.
    </p>
    <h1>How to use Compendium of Knowledge?</h1>
    <p>
      As a user, you can see a tree view of all the pages and catalogues in the menu on the left. You can also find a
      specific page by using the search bar in the menu.
    </p>
    <h1>Which languages are supported?</h1>
    <p>
      Currently, we support English, Polish and French as a page language. Each page has a language assigned to it, so
      to see pages in e.g. Polish, you need to change the page language to Polish respectively. The menu on the left
      will also show only the pages in the currently selected languages.
    </p>
    <h1>What are tags?</h1>
    <p>
      Tags are keywords, designed to make it easier to find a page regarding a given branch or topic. E.g. to see every
      physics-related page, you can simply type "physics" in the search bar and all the pages with the tag will be
      listed for quick access.
    </p>
    <h1>LaTeX and KaTeX</h1>
    LaTeX is a markdown language used to type complex mathematical formulas and render them in a human-readable form.
    For example,
    <ng-katex class="block" [equation]="'\\frac {a+b} 2'"></ng-katex>
    can be typed as
    <div class="equation-example">\frac {{ "{" }}a+b} 2</div>
    and
    <ng-katex class="block" [equation]="'\\sin^2(x) + \\cos^2(x) = 1'"></ng-katex>
    as
    <div class="equation-example">\sin^2(x) + \cos^2(x) = 1</div>
    You can find more info about KaTeX functions <a href="https://katex.org/docs/supported.html"
                                                    target="_blank">HERE</a>
  </div>
  <div *ngSwitchCase="'polish'">
    <h1>Witaj w Kompendium Wiedzy</h1>
    <p>
      Kompendium Wiedzy to platforma umożliwiająca użytkownikom tworzenie, przeglądanie oraz edytowanie stron
      zawierających tablice naukowe i wzory.
    </p>
    <h1>Dla kogo jest ta platforma?</h1>
    <p>
      Kompendium Wiedzy zostało stworzone dla każdego do bezpłatnego użytku. Może być użyte zarówno przez studentów i
      nauczycieli akademickich na Politechnice Łódzkiej, a także uczestników konkursów organizowanych na naszej uczelni,
      jak i ludzi niezwiązanych bezpośrednio z uczelnią.
    <h1>Jak używać Kompendium Wiedzy?</h1>
    <p>
      W menu po lewej wyświetlają się wszystkie strony i foldery. Można również znaleźć konkretną stronę poprzez
      wyszukanie jej nazwy w pasku wyszukiwania.
    </p>
    <h1>Jakie języki są wspierane?</h1>
    <p>
      Nasza strona wspiera język angielski, polski i francuski. Każda strona ma przypisany język, zatem w celu
      wyświetlenia stron np. po angielsku, należy zmienić język strony na angielski. Menu po lewej również będzie
      wyświetlać strony tylko w wybranym języku.
    </p>
    <h1>Czym są tagi?</h1>
    <p>
      Tagi to słowa kluczowe, stworzone w celu ułatwienia znalezienia stron na wybrany temat. Na przykład, żeby znaleźć
      każdą stronę związaną z fizyką, należy wpisać "fizyka" w pasek wyszukiwania, po czym wszystkie strony zawierające
      podany tag zostaną wyświetlone.
    </p>
    <h1>LaTeX oraz KaTeX</h1>
    LaTeX jest językiem używanym do wpisywania skomplikowanych wzorów matematycznych i wyświetlania ich w sposób łatwy
    do przeczytania.
    Dla przykładu,
    <ng-katex class="block" [equation]="'\\frac {a+b} 2'"></ng-katex>
    może być wpisane jako
    <div class="equation-example">\frac {{ "{" }}a+b} 2</div>
    a
    <ng-katex class="block" [equation]="'\\sin^2(x) + \\cos^2(x) = 1'"></ng-katex>
    jako
    <div class="equation-example">\sin^2(x) + \cos^2(x) = 1</div>
    Więcej informacji o funkcjach biblioteki KaTeX (po angielsku) można
    znaleźć <a href="https://katex.org/docs/supported.html" target="_blank">TUTAJ</a>
  </div>
  <div *ngSwitchCase="'french'">
    <h1>Bienvenue dans la Compdium de la Connaissances</h1>
    <p>
      La Compdium de la Connaissances est une plate-forme qui permet aux utilisateurs de créer, visualiser et modifier des pages avec des tableaux scientifiques et
      formules.
    </p>
    <h1>À qui s'adresse la plate-forme?</h1>
    <p>
      C'est une plateforme créée pour que tout le monde puisse l'utiliser gratuitement. Il peut être utilisé par les étudiants et les enseignants de Lodz
      Université de technologie, ainsi que des candidats en compétition dans notre université, et même des personnes sans association
      avec TUL, qui apprécie tout simplement le contenu du site.
    </p>
    <h1>Comment utiliser la Compdium de la Connaissances?</h1>
    <p>
      En tant qu'utilisateur, vous pouvez voir une arborescence de toutes les pages et catalogues dans le menu de gauche. Vous pouvez également trouver un
      page spécifique en utilisant la barre de recherche dans le menu.
    </p>
    <h1>Quelles sont les langues prises en charge?</h1>
    <p>
      Actuellement, nous prenons en charge l'anglais, le polonais et le français comme langue de page. Chaque page a une langue qui lui est assignée, donc
      pour voir les pages dans par ex. polonais, vous devez changer la langue de la page en polonais respectivement. Le menu de gauche
      affichera également uniquement les pages dans les langues actuellement sélectionnées.
    </p>
    <h1>Que sont les balises?</h1>
    <p>
      Les balises sont des mots-clés, conçus pour faciliter la recherche d'une page concernant une branche ou un sujet donné. Par exemple. voir chaque
      page liée à la physique, vous pouvez simplement taper "physique" dans la barre de recherche et toutes les pages avec la balise seront
      répertoriés pour un accès rapide.
    </p>
    <h1>LaTeX et KaTeX</h1>
    LaTeX est un langage de démarquage utilisé pour taper des formules mathématiques complexes et les restituer sous une forme lisible par l'homme.
    Par example,
    <ng-katex class="block" [equation]="'\\frac {a+b} 2'"></ng-katex>
    peut être tapé comme
    <div class="equation-example">\frac {{ "{" }}a+b} 2</div>
    et
    <ng-katex class="block" [equation]="'\\sin^2(x) + \\cos^2(x) = 1'"></ng-katex>
    comme
    <div class="equation-example">\sin^2(x) + \cos^2(x) = 1</div>
    Vous pouvez trouver plus d'informations sur les fonctions KaTeX <a href="https://katex.org/docs/supported.html"
                                                                       target="_blank">ICI</a>
  </div>
</ng-container>